public {{this.name}} = {
    async callAsync(
    {{> typed_params inputs=inputs}}
        txData: Partial<TxData> = {},
    ): Promise<{{> return_type outputs=outputs}}> {
        return this.contract.methods.{{this.name}}({{> params inputs=inputs}}).call(
            txData,
        );
    },
};
